.modal {
  width: 100%;
}

.reactSelect {
  margin-right: 1em;
  width: 10em;
}

.flex {
  display: flex;
  justify-content: space-between !important;
  width: 100% !important;
}

.viewAll {
  color: #5090f8;
  font-size: 12px;
}

.icon-right-mark {
  color: #5090f8;
}
.link {
  color: "blue";
  margin-top: "30px";
}
