.isFlex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

.searchBox > form {
  display: flex;
}

.title {
  font-family: "Avenir-Heavy";
}

.editTitle {
  font-family: "Avenir-Heavy";
  font-size: 26px;
  font-weight: 900;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 20px;
  cursor: pointer;
}
.logoWrapper {
  text-align: center;
  padding-bottom: 1em;
}
.close {
  float: right;
  cursor: pointer;
  font-size: 23px;
  font-weight: bold;
}

.modal {
  margin: 20px;
}

// .formMargin {
//   margin: 20px;
// }
